#taskList{
    grid-area: L;
    border-style: solid;
    background-color: khaki;
    overflow:scroll;
    height:99%;
}
#students{
    grid-area: S;
    background-color: cadetblue;
}
.studentButton{
    background-color: red;
    height: 50px;
    width: 100px;
    margin: 10px;
}
#gradesPage{
    background-color: cadetblue;
}
.grid{
    height:500px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: 
    "L S"
}